*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

section{
  background-image: url(../image/fondo.jpg);
  background-position-x: 11rem;
  background-repeat: repeat;
  background-size: 25%;
  box-sizing: border-box;
  height: 100%;
  padding-top: 3rem;
  text-align: center;
  width: 100%;
}

h1{
  color: #10882b;
  font-size: 3.5rem;
  font-weight: 800;
}
.caja{
  margin: 6rem auto;
      display: flex;
      justify-content: center;
}
.ventana{
  background-color: #1297b3;
  border: 10px solid #063b86;
  border-radius: 20px;
  height: 19rem;
  overflow: hidden;
  width: 35rem;
}

img{
  height: auto;
  width: 100%;
}

#after,
#before{
  background-color: #009688;
  color: #063b86;
  font-size: 4rem;
  position: absolute;
  top: 21rem;
  width: 4rem;
  border-radius: 50%;
  height: 4rem;
}

#after{
  left: 19rem;
}
#before{
  right: 19rem;
}

.botones{
  position: absolute;
    bottom: 5rem;
    left: 46%;
}
.boton{
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #009688;
}

.boton:hover{
  background-color: #063b86;
}
